<%- include("../partials/header.ejs") %> 
<h1 class="form-title">Register</h1>
<div class="form-container">
    <form id="login-form" action="/register" method="POST">
        <div class="input-container">
                <label  class="new-label" for="email">Email</label>
                <input required class="new-input" type="email" name="email" placeholder="email" autocomplete="off" autofocus>
        </div>
        <div class="input-container">
            <label  class="new-label" for="username">Username</label>
            <input required class="new-input" type="text" name="username" placeholder="username" autocomplete="off">
        </div>
        <div class="input-container before-submit">
            <label  class="new-label" for="password">Password</label>
            <input required class="new-input" type="password" name="password" minlength="6" placeholder="Must have at least 6 characters">
        </div>
        <div class="input-container">
            <button class="cereal-submit" type="submit">Register</button>
        </div>
        <div class="register-link">
            Already have an account? <a id="register-here" href="/login">Sign in here!</a>
        </div>
    </form>
</div>
<%- include("../partials/footer.ejs") %> 