<%- include("partials/header.ejs") %> 
<div class="error"> 
    <h1 class="error-title">404 :(</h1>
    <p class="error-text">We can't find the page you're looking for. Sorry!</p>
</div>
<%- include("partials/footer.ejs") %> 