<%- include("partials/header.ejs") %> 
<div class="landing">
    <div class="welcome">
        <h1 class="welcome-title">Welcome to the Cereal Catalog!</h1>
        <p class="welcome-text">The Cereal Catalog is a community-driven cereal database project. 
            Registered users can create, read, update, and delete cereals, with comment sections underneath each cereal.
            <a class="welcome-register" href="/register">Register Here!</a>
        </p>
    </div>
    <div class="news">
        <h3 class="news-header">NEWS/UPDATES:</h3>
        <h4 class="news-title">09/07/2020 - CerealCatalog is Up And Running!</h4>
    </div>
</div>
<%- include("partials/footer.ejs") %> 